Introduction_to_ML/
│
├─c/                   # Coding files folder
│   ├── model_training.py
│   ├── data_preprocessing.py
│
├── docs/                  # Theory content folder
│   ├── Stepping_Back.md
│   ├── Testing_Validation.md
│
├── README.md              # Overview and explanation of the project
│
├── requirements.txt       # List of dependencies (optional)
